//Container
.blog-grid-sidebar {
	margin-top: 30px;
	.blog-article {
		margin-bottom: 30px;
	}
	.entry-media img,
	.entry-media iframe {
		width: 100%;
		height: 250px;
	}
	.grid-gallery {
		height: 250px;
		.slick-prev {
			left: 30px;
			z-index: 1;
		}
		.slick-next {
			right: 30px;
		}
		.slick-list,
		.slick-track,
		.slick-slide > div,
		img {
			height: 100%;
		}

	}
	.article-container {
		position: relative;
		padding: 20px;
	}
	.entry-title {
		@include font-size(2.2);
		margin-bottom: 10px;
	}
	.entry-content {
		margin-bottom: 14px;
		@media (max-width: 574px) {
			margin-bottom: 0;
		}
	}
	.sharedaddy {
		margin: 0 0 20px;
		.sd-content {
			margin-left: -10px;
		}
		.sd-content ul li[class*='share-'] a {
			padding: 1px;
		}
	}
	.entry-footer {
		align-items: center;
		.sd-title {
			display: none;
		}
		.link-more {
			margin: 0 0 20px -29px;
		}
		.link-more a {
			display: inline-block;
			position: relative;
			right: 9999px;
			padding: 0;
			&:after {
				content: "\ea94";
				position: absolute;
				top: -8px;
				right: -9999px;
				width: 75%;
				text-align: center;
				color: var(--main-color);
				border: 1px solid var(--main-color);
				border-radius: 50px;
				padding: 9px 0;
				@include ico-font();
				@include font-size(2.4);
			}
			&:hover:after {
				background: var(--main-color);
				color: $color__white;
				transition: all .3s
			}
		}
	}
	.banner-blog {
		padding: 0 15px;
		img {
			height: 140px;
		}
	}
	.quote {
		min-height: 250px;
	}
	blockquote {
		padding: 105px 30px 30px;
		@include font-size(2.4);
		line-height: 1.2;
		&:before {
			top: 25px;
		}
		&:after {
			top: 10px;
			left: 82px;
		}
		strong {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
	.widget-area {
		width: 100%;
	}
}
.entry-footer-hidden .blog-grid-sidebar .entry-content {
	margin-bottom: 0;
}

@media (min-width: 991px) {
	.sidebar-left .blog-grid-sidebar .col-md-8 {
		order: 2;
	}
}

@media (max-width: 1024px) {
	.blog-grid-sidebar {
		.blog-article.col-md-6 {
			.link-more {
				display: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.blog-grid-sidebar {
		.col-md-8,
		.col-md-4 {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

@media (max-width: 767px) {
	.blog-grid-sidebar {
		.entry-media img,
		.entry-media iframe,
		.grid-gallery {
			height: auto;
		}
		.blog-article.col-md-6 .link-more {
			display: inherit;
		}
		.grid-gallery {
			.slick-track {
				display: flex;
			}
			.slick-slide {
				display: flex;
				height: auto;
				align-items: center;
				justify-content: center;
			}
			.slick-slide > div,
			img {
				height: 100%;
				width: 100%;
			}
		}
		.article-container {
			padding: 20px;
		}
		.has-thumbnail .article-container {
			margin: 0;
		}
		.entry-title {
			@include font-size(2.1);
		}
		blockquote {
			padding: 125px 30px 30px 30px;
			&:before {
				top: 40px;
			}
			&:after {
				top: 26px;
			}
		}
	}
}

//Full width
.blog-grid-sidebar.full-width {
	.entry-media img,
	.entry-media iframe,
	.quote,
	.grid-gallery {
		height: 450px;
	}
	.grid-gallery img {
		height: 100%;
	}
}
@media (max-width: 1440px) {
	.blog-grid-sidebar.full-width {
		.entry-media img,
		.entry-media iframe,
		.quote,
		.grid-gallery {
			height: 300px;
		}
	}
}
@media (max-width: 767px) {
	.blog-grid-sidebar.full-width {
		.entry-media img,
		.entry-media iframe,
		.quote,
		.grid-gallery {
			height: 100%;
		}
	}
}