// Container
#content {
	.hentry {
		&.no-vertical-margin-auto-horizontal-margin > .article-container {
			margin: 0 auto;
		}
		&.no-margin > .article-container {
			margin: 0;
		}
	}
}
.blog-list {
	margin-top: 30px;
	.blog-article {
		margin-bottom: 30px;
		padding: 0 15px;
		max-width: 100%;
		width: 100%;
		article {
			display: flex;
			flex-flow: row wrap;
		}
		.entry-media {
			width: 50%;
			height: 402px;
			img,
			iframe {
				width: 100%;
				height: 402px;
			}
			iframe {
				@media (min-width: 992px) {
					height: 100%;
				}
			}
		}
		.grid-gallery {
			width: 50%;
			max-width: 585px;
			height: 402px;
			.slick-track,
			.slick-slide > div {
				height: 100%;
			}
			img {
				height: 402px;
			}
		}
		.slick-prev {
			left: 30px;
			z-index: 1;
		}
		.slick-next {
			right: 30px;
		}
		.article-container {
			flex: 1;
			position: relative;
			width: 50%;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
		}
		.entry-header {
			width: 100%;
			margin-bottom: 15px;
		}
		.entry-title {
			margin-bottom: 9px;
		}
		.entry-content {
			margin-bottom: 40px;
		}
		.entry-content p {
			margin: 0;
		}
		.entry-footer {
			width: 100%;
		}
		.entry-footer .sharedaddy {
			margin-bottom: 10px;
		}
		.link-more {
			margin: 5px 0 10px;
		}
		blockquote {
			padding: 105px 68px 0 60px;
			&:after {
				top: -15px;
				left: 115px;
			}
		}
	}
}
.entry-footer-hidden .blog-list .entry-content {
	margin-bottom: 0;
}

@media (min-width: 1170px){
	.blog-list .blog-article {
		.entry-media {
			iframe {
				width: 585px;
			}
		}
	}
}
@media(min-width: 767px) {
	.default.overlap .blog-list div.blog-article:nth-of-type(even),
	.right-hand.overlap .blog-list .blog-article {
		.slick-prev {
			left: 30px;
		}
		.slick-next {
			right: 30px;
		}
		blockquote {
			padding: 105px 70px 0 90px;
			&:after {
				left: 141px;
			}
		}
	}
	.default .blog-list div.blog-article:nth-of-type(even),
	.right-hand .blog-list .blog-article {
		.article-container {
			order: 1;
			z-index: 99;
		}
		.entry-media,
		.grid-gallery {
			order: 2;
		}
	}
}

@media (max-width: 1199px) {
	.blog-list .blog-article {
		.article-container {
			padding: 20px 30px;
		}
	}
}

@media (max-width: 767px) {
	.blog-list .blog-article {
		.has-thumbnail .article-container {
			margin: 0;
			padding: 20px;
		}
		.entry-media {
			width: 100%;
			height: auto;
			img,
			iframe {
				height: 100%;
			}
		}
		.grid-gallery {
			width: 100%;
			height: auto;
			max-width: 100%;
			img {
				height: 100%;
			}
		}
		blockquote {
			padding: 130px 30px 30px;
			&:before {
				top: 40px;
			}
			&:after {
				top: 26px;
				left: 83px;
			}
		}
		.slick-prev {
			left: 30px;
		}
		.slick-next {
			right: 30px;
			&:before {
				display: none;
			}
		}
		.entry-title {
			margin-bottom: 10px;
		}
		.entry-content {
			margin-bottom: 25px;
		}
	}
}

@media (max-width: 767px) {
	.blog-list .blog-article {
		.entry-title {
			@include font-size(2.1);
		}
		.entry-footer {
			margin-top: -20px;
		}
	}
}
@media(max-width: 574px) {
	.blog-list .blog-article {
		.entry-content {
			margin-bottom: 0;
		}
	}
}

//Full width

.blog-list.full-width .blog-article {
	.grid-gallery {
		max-width: 930px;
	}
	.entry-media iframe {
		width: 100%;
	}
}
