/*
 Theme Name:   memory-child
 Description:  memory-child
 Template:     memory
 Text Domain:  memory-child
*/

@import url("../memory/style.css");

@font-face {
  font-family: 'Ysabeau';
  src: url('../fonts/Ysabeau-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ysabeau';
  src: url('../fonts/Ysabeau-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --brown: #7a4f1d;
  --light: #f7f5f2;
  --text: #4a4a4a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ysabeau', sans-serif;
  background: #fff;
  color: var(--text);
}
div#content .ast-container {
    width: 100% !important;
    max-width: 100%;
    padding:0;
}
#content {
    padding: 2rem 0;
}
h1, h2, h3 , h4, h5 a {
 font-family: 'Ysabeau', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 46px; /* 2.25rem */
}

h2 {
  font-size: 42px; /* 1.875rem */
}

h3 {
  font-size: 24px; /* 1.5rem */
}

h4 {
  font-size: 20px; /* 1.25rem */
}

h5 {
  font-size: 18px; /* 1.125rem */
}

p {
  font-size: 18px; /* 1rem */
}

/* header */
.menu-search-form {
    position: relative;
    display: inline-block;
}

.menu-search-form input[type="search"] {
    padding: 5px 40px 5px 15px; /* extra space sa right para sa icon */
    border: 2px solid #8b5e3c;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    width: 420px;
}

.menu-search-form input[type="search"]:focus {
    border-color: #5a3d2a;
}

/* Button icon sa loob ng input */
.menu-search-form button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #8b5e3c;
}

.menu-search-form button:focus {
    outline: none;
}

.search-box {
    display: flex;
    border: 1px solid var(--brown);
    border-radius: 4px;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.search-box input {
  flex: 1;
    padding: 2rem;
    border: none;
    font-size: 0.9rem;
}
.search-box input[type="text"]::placeholder {
    font-size: 18px;
}
.search-box input:focus {
  outline: none;
}

.search-box button {
    padding: 0 1rem;
    background: var(--brown);
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 16%;
    text-align: center;
    font-weight: 600;
}
.main-navigation {
    flex: unset;
}
div#content {
    background: #F7F7F7;
}

.site-branding {
    padding: 30px 0 40px;
    width: 100%;
    max-width: 360px;
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(-15deg);
}
ul#primary-menu li a {
    font-size: 18px;
    text-transform: none;
    font-weight: 400;
    margin: 0 ;
    color: #8b5e3c;
    padding: 5px 20px;
}
ul#primary-menu  li:hover a {
    background: #8b5e3c;
    color: #fff ;
}

@media (min-width: 922px) {
    .ast-container {
        max-width: 80%;
    }
}

/* bootstrap overide */
@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
    padding: 0 20px;
  }
}
.page-header,.page-header:before {
  border-bottom: none!important;
}