/* variables color */
:root {
	/* main color */
	--main-color: #00a6b6;
	--text-main: #555;
	--heading-color: #000;

	/* header color */
	--bg-header-color: #fff;
	--text-header-color: #111;
	--hover-text-header-color: var(--main-color);
	--icon-header-color: #111;
	--hover-icon-header-color: var(--main-color);
	--border-header-color: #e2e2e2;
	--bg-submenu-color: #fff;
	--text-submenu-color: #111;
	--hover-text-submenu-color: var(--main-color);
	--border-submenu-color: #f1f1f1;

	/*body style*/
	--body-font_family: "Work Sans", sans-serif;
	--body-font_size: 14px;
	/*main style h1*/
	--heading_1-font_family: 'Josefin Sans', sans-serif;;
	--heading_1-font_size: 36px;
	--heading_1-font_style: normal;
	--heading_1-font_weight: 600;
	/*main style h2*/
	--heading_2-font_family: 'Josefin Sans', sans-serif;;
	--heading_2-font_size: 30px;
	--heading_2-font_style: normal;
	--heading_2-font_weight: 600;
	/*main style h3*/
	--heading_3-font_family: 'Josefin Sans', sans-serif;;
	--heading_3-font_size: 24px;
	--heading_3-font_style: normal;
	--heading_3-font_weight: 600;
	/*main style h4*/
	--heading_4-font_family: 'Josefin Sans', sans-serif;;
	--heading_4-font_size: 1.25em;
	--heading_4-font_style: normal;
	--heading_4-font_weight: 600;
}
.editor-block-list__layout {
	color: var(--text-main);
	font-family: var(--body-font_family);
	font-size: var(--body-font_size);
	font-style: var(--body-font_style);
	font-weight: var(--body-font_weight);
	line-height: var(--body-line_height);
	letter-spacing: var(--body-letter_spacing);
	text-transform: var(--body-text_transform);
}
.editor-block-list__layout a,
.wp-block-freeform.block-library-rich-text__tinymce a {
	color: var(--main-color);
}
p.wp-block-subhead {
	color: var(--text-main);
}

.editor-block-list__layout h1,
.editor-block-list__layout h2,
.editor-block-list__layout h3,
.editor-block-list__layout h4,
.editor-block-list__layout h5,
.editor-block-list__layout h6 {
	/*font-family: 'Josefin Sans', sans-serif;*/
	color: var(--heading-color);
}
.editor-block-list__layout h1 {
	/*font-size: 36px;*/
	font-family: var(--heading_1-font_family);
	font-size: var(--heading_1-font_size);
	font-style: var(--heading_1-font_style);
	font-weight: var(--heading_1-font_weight);
	line-height: var(--heading_1-line_height);
	letter-spacing: var(--heading_1-letter_spacing);
	text-transform: var(--heading_1-text_transform);
}
.editor-block-list__layout h2 {
	font-family: var(--heading_2-font_family);
	font-size: var(--heading_2-font_size);
	font-style: var(--heading_2-font_style);
	font-weight: var(--heading_2-font_weight);
	line-height: var(--heading_2-line_height);
	letter-spacing: var(--heading_2-letter_spacing);
	text-transform: var(--heading_2-text_transform);
}
.editor-block-list__layout h3 {
	font-family: var(--heading_3-font_family);
	font-size: var(--heading_3-font_size);
	font-style: var(--heading_3-font_style);
	font-weight: var(--heading_3-font_weight);
	line-height: var(--heading_3-line_height);
	letter-spacing: var(--heading_3-letter_spacing);
	text-transform: var(--heading_3-text_transform);
}
.editor-block-list__layout h4 {
	font-family: var(--heading_4-font_family);
	font-size: var(--heading_4-font_size);
	font-style: var(--heading_4-font_style);
	font-weight: var(--heading_4-font_weight);
	line-height: var(--heading_4-line_height);
	letter-spacing: var(--heading_4-letter_spacing);
	text-transform: var(--heading_4-text_transform);
}
.editor-block-list__layout h5 {
	font-size: 14px;
}
.editor-block-list__layout h6 {
	font-size: 12px;
	text-transform: uppercase;
}
.editor-block-list__layout p {
	font-size: var(--body-font_size);
}
.editor-block-list__layout ul {
	list-style: none;
}
.editor-block-list__layout ul ul,
.editor-block-list__layout ol ul {
	list-style: none;
}
.editor-block-list__layout ul li {
	position: relative;
}
.editor-block-list__layout ul:not(.wp-block-gallery) > li:before {
	content: "•";
	color: var(--main-color);
	position: absolute;
	left: -18px;
	top: -6px;
	font-size: 20px;
}
.editor-block-list__layout pre {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	color: var(--text-main);
}

/* Main column width */
.wp-block {
    max-width: 650px;
    padding: 0;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 710px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.wp-block[data-align="full"] .editor-block-list__block-edit {
	margin-left: 0;
	margin-right: 0;
}
.wp-block-separator:not(.is-style-dots) {
	border-bottom: 1px solid #e2e2e2;
}
.wp-block .editor-block-list__block-edit {
	margin-left: 0;
	margin-right: 0;
}
.wp-block-button__link {
	background: #fff;
	border: 1px solid var(--main-color);
	border-radius: 99px;
	padding: 8px 40px;
	transition: all .3s ease 0s;
	font-weight: 600;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: var(--main-color);
	font-size: 13px;
}
.wp-block-button__link:hover {
	background: var(--main-color);
	color: #fff;
	transition: all .3s ease 0s;
}

/* Dropcap */
p.has-drop-cap:not(:focus):first-letter,
.dropcap {
	font-weight: 700;
	color: #fff;
	font-size: 48px;
	background: var(--main-color);
	float: left;
	padding: 6px 9px;
	text-transform: uppercase;
	line-height: 1;
	margin: 10px 12px 0 0;
}


/**
 * Color palette
 *
 */
.has-strong-cyan-background-color {
	border: 1px solid #00a6b6;
}
.has-strong-cyan-background-color:hover {
	background: #fff !important;
	color: #00a6b6 !important;
}


.has-vivid-red-background-color {
	border: 1px solid #e11e2f;
}
.has-vivid-red-background-color:hover {
	background: #fff !important;
	color: #e11e2f !important;
}


.has-slightly-desaturated-pink-background-color {
	border: 1px solid #cc95b5;
}
.has-slightly-desaturated-pink-background-color:hover {
	background: #fff !important;
	color: #cc95b5 !important;
}


.has-vivid-blue-background-color {
	border: 1px solid #1991f0;
}
.has-vivid-blue-background-color:hover {
	background: #fff !important;
	color: #1991f0 !important;
}


.has-strong-chartreuse-green-background-color {
	border: 1px solid #6ca53a;
}
.has-strong-chartreuse-green-background-color:hover {
	background: #fff !important;
	color: #6ca53a !important;
}


.has-slightly-desaturated-orange-background-color {
	border: 1px solid #c9a978;
}
.has-slightly-desaturated-orange-background-color:hover {
	background: #fff !important;
	color: #c9a978 !important;
}


.has-very-light-blue-background-color {
	border: 1px solid #7076fe;
}
.has-very-light-blue-background-color:hover {
	background: #fff !important;
	color: #7076fe !important;
}

/* Table */
.wp-block-table td {
	text-align: center;
	border: 1px solid #e2e2e2;
	color: #777780;
}

/* Blockquote */
.editor-block-list__layout blockquote {
	margin: 0;
	padding: 90px 68px 20px 60px;
	font-weight: 600;
	font-style: italic;
	color: #000;
	position: relative;
	font-family: "Josefin Sans", sans-serif;
	z-index: 9;
}
.editor-block-list__layout blockquote p {
	font-size: 32px;
	line-height: 1.2;
	margin-bottom: 15px;
}

.editor-block-list__layout blockquote:before {
	content: '';
	background-image: url(images/quote.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	width: 85px;
	height: 65px;
	z-index: -1;
}

.editor-block-list__layout blockquote:after {
	content: '';
	position: absolute;
	top: -11px;
	left: 117px;
	width: 50px;
	height: 50px;
	z-index: -2;
	background-color: var(--main-color);
	border-radius: 50%;
}

.editor-block-list__layout blockquote span {
	font-family: "Josefin Sans", sans-serif;
	color: #888888;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.editor-block-list__layout blockquote .wp-block-quote__citation {
	font-weight: 600;
	font-style: normal;
	color: #000;
	font-size: 16px;
	margin-top: 7px;
	display: block;
	font-family: "Josefin Sans", sans-serif;
}

.editor-block-list__layout blockquote .wp-block-quote__citation:before {
	content: '\2013';
	margin-right: 3px;
}

.editor-block-list__layout blockquote strong {
	font-weight: 600;
}

.editor-block-list__layout .wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: none;
	padding-left: 60px;
}
.editor-block-list__layout .wp-block-quote.is-large,
.editor-block-list__layout .wp-block-quote.is-style-large {
	padding: 90px 68px 20px 60px;
}
.editor-block-list__layout .wp-block-quote.is-large p {
	font-size: 28px;
}

/* Pull Quote */
.wp-block-pullquote {
	border: none;
}
.wp-block-pullquote blockquote:before {
	left: 41%;
}
.wp-block-pullquote blockquote:after {
	left: unset;
}
.wp-block-pullquote .wp-block-pullquote__citation {
	font-weight: 600;
	font-style: normal;
	color: #000;
	font-size: 16px;
	margin-top: 7px;
	display: block;
	font-family: "Josefin Sans", sans-serif;
	text-transform: none;
}
.wp-block-pullquote .wp-block-pullquote__citation:before {
	content: '\2013';
	margin-right: 3px;
}

.editor-block-list__block[data-align=wide] .wp-block-pullquote blockquote:before {
	left: 42%;
}
.wp-block[data-align="full"] .wp-block-pullquote blockquote {
	padding: 90px 0 20px;
}
.wp-block[data-align="full"] .wp-block-pullquote blockquote:before {
	left: 43%;
}

.wp-block[data-align="left"] .wp-block-pullquote blockquote {
	text-align: left;
	padding: 90px 0 20px;
}
.wp-block[data-align="left"] .wp-block-pullquote blockquote:before {
	left: 0;
}
.wp-block[data-align="left"] .wp-block-pullquote blockquote:after {
	left: 53px;
}

.wp-block[data-align="right"] .wp-block-pullquote blockquote {
	text-align: right;
	padding: 90px 0 20px;
}
.wp-block[data-align="right"] .wp-block-pullquote blockquote:before {
	right: 18px;
	left: unset;
}
.wp-block[data-align=right] .wp-block-pullquote blockquote:after {
	left: unset;
	right: 0;
}

/* Editor Classic */
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	border: none;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote:after {
	left: 65px;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
	font-size: 32px;
	line-height: 1.2;
	margin-top: 0;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite {
	font-size: 16px;
	font-style: normal;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite:before {
	content: '\2013';
    margin-right: 3px;
}
.wp-block-freeform.block-library-rich-text__tinymce .mce-item-table {
	border: 1px solid #e2e2e2;
	border-spacing: 0;
}
.wp-block-freeform.block-library-rich-text__tinymce .mce-item-table thead tr {
	background: #f3f5f8;
}
.wp-block-freeform.block-library-rich-text__tinymce .mce-item-table th {
	border: 1px solid #e2e2e2;
	font-weight: 400;
	color: #000;
	padding: 5px;
}
.wp-block-freeform.block-library-rich-text__tinymce .mce-item-table td {
	border: 1px solid #e2e2e2;
}
.wp-block-freeform.block-library-rich-text__tinymce ul li:before {
	content: "•";
	color: var(--main-color);
	position: absolute;
	left: -24px;
	top: -6px;
	font-size: 20px;
}