* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import "components/font";
@import "components/color";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
  line-height: 26px;
  margin: 0;
  font-family: $f-regular;
  color: $black;
  background-color: #f6f4ff;
}

.pc {
  display: block;
}

.sp {
  display: none;
}
@import "components/navbar";
@import "components/main";
@import "components/login";
@import "components/sidebar";
@import "components/dashboard";
@import "components/table";
@import "components/single";
@import "components/rarematerials";
@import "components/tab";
@import "components/cataloging";
@import "components/footer";

.hidden {
  display: none;
}

@media screen and (max-width: 785px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}
