.featured-posts-1 {
	padding: 10px 0;
	background: $color__white;
	img {
		width: 100%;
		object-fit: cover;
	}
	.featured-post__content {
		width: 100%;
		display: block;
		margin: 0;
	}
	.slick-track {
		display: flex;
		.slick-slide {
			display: flex;
			height: auto;
			align-items: center;
			justify-content: center;
			margin: 0 5px;
		}
	}
	.slick-current {
		.featured-content {
			display: block;
		}
	}
	article {
		float: left;
		position: relative;
		padding-right: 10px;
		margin-bottom: 0;
		&:last-child {
			padding-right: 0;
		}
	}
	.featured-wrapper {
		position: absolute;
		top: 20px;
		bottom: 20px;
		left: 20px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.featured-content {
		max-width: 450px;
		padding: 10px 30px;
		z-index: 10;
		opacity: 0;
		display: none;
		background: rgba(0,0,0,0.6);
		text-align: center;
		animation-name: fadeInUp;
		animation-delay: 0.5s;
		animation-duration: 0.7s;
		animation-fill-mode: both;
	}

	.entry-header {
		display: block;
		margin: 10px 0 0;
		opacity: 0;
		animation-name: fadeInUp;
		animation-delay: 0.7s;
		animation-duration: 0.7s;
		animation-fill-mode: both;
		.entry-header__category a {
			color: $color__white;
		}
	}
	.entry-title {
		@include font-size(2.6);
		line-height: 1.4;
		color: $color__white;
		margin: 7px 0 0;
		opacity: 0;
		animation-name: fadeInUp;
		animation-delay: 0.9s;
		animation-duration: 0.7s;
		animation-fill-mode: both;
		a {
			color: $color__white;
		}
		&:before {
			display: none;
		}
	}
	.entry-meta {
		opacity: 0;
		animation-name: fadeInUp;
		animation-delay: 1.1s;
		animation-duration: 0.7s;
		animation-fill-mode: both;
		margin: 5px 0 10px;
		.posted-on {
			text-transform: none;
			color: $color__white;
			i {
				display: none;
			}
		}
	}
	.slick-prev,
	.slick-next {
		display: none;
	}
}

@media (max-width: 574px) {
	.featured-posts-1 {
		.featured-content {
			padding: 15px;
			.entry-header,
			.entry-meta {
				display: none;
			}
			.entry-title {
				margin: 0;
				@include font-size(1.8);
			}
		}
	}
}
@keyframes fadeInUp {
	from {
		transform: translate3d(0,20px,0);
	}

	to {
		transform: translate3d(0,0,0);
		opacity: 0.9;
	}
}