.srch {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  &__container {
    max-width: inherit;
    width:80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  &__form {
    &--area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 45px;
    }
    &--input {
      flex-basis: 85%;
      input {
        width: 100% !important;
        height: 78px;
        background: #dbdbdb;
        font-family: $f-regular;
        color: $black;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        outline: none;
        padding: 0px 30px;
      }
      ::placeholder {
        color: #878787;
      }
    }
    &--btn {
      flex-basis: 15%;
      input[type="submit"] {
        background: $blue;
        border: none;
        width: 100%;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: $white;
        font-family: $f-regular;
        transition: 0.3s ease-in;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
          transition: 0.3s ease-in;
          opacity: 0.7;
        }
      }
    }
  }
}

.search-result {
  margin-top: 30px;
  margin-bottom: 30px;
  &__container {
    max-width: inherit;
    width:80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    background-color: $white;
  }
  &__area {
  }
  &__header {
    p {
      font-size: 18px;
      font-family: $f-regular;
      span {
        font-family: $f-medium;
      }
    }
  }
  &__body {
    .navigation {
      max-width: 500px;
      margin: 0 auto;

      a {
        color: #878787;
      }
    }
    &--row {
    }
  }
  &__article {
    border-top: 1px solid #dbdbdb;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 45px;
  }
  &__cover {
    flex-basis: 23%;
    &--img {
      img {
        width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: cover;
        object-position: top;
      }
    }
    &--btn {
      padding-top: 20px;
      max-width: 200px;
      margin: 0 auto;
      a {
        width: 100%;
        height: 50px;
        font-size: 15px;
        background-color: #3ec562;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        border-radius: 10px;
        transition: 0.3s ease-in;
        &:hover {
          transition: 0.3s ease-in;
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }
  }
  &__info {
    flex-basis: 77%;
    &--title {
      h2 {
        font-size: 32px;
        color: $blue;
        font-family: $f-medium;
      }
    }
    &--desc {
      p {
        font-size: 18px;
        font-family: $f-regular;
        color: $black;
        line-height: 27px;
        span {
          font-family: $f-medium;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1450px) {
  .srch {
    &__container {
      max-width: 1280px;
    }
    &__form {
      &--area {
        gap: 35px;
      }
      &--input {
        input {
          height: 65px;
          font-size: 18px;
        }
      }
      &--btn {
        input[type="submit"] {
          width: 100%;
          height: 65px;
          font-size: 18px;
        }
      }
    }
  }
  .search-result {
    margin-top: 30px;
    margin-bottom: 30px;
    &__container {
      max-width: 1320px;
      margin: 0 auto;
      padding-top: 50px;
    }
    &__area {
    }
    &__header {
      p {
        font-size: 18px;
        font-family: $f-regular;
        span {
          font-family: $f-medium;
        }
      }
    }
    &__body {
      .navigation {
        max-width: 500px;
        margin: 0 auto;

        a {
          color: #878787;
        }
      }
      &--row {
      }
    }
    &__article {
      border-top: 1px solid #dbdbdb;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      justify-content: space-between;
      gap: 45px;
    }
    &__cover {
      flex-basis: 23%;
      &--img {
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          object-position: top;
        }
      }
      &--btn {
        padding-top: 20px;
        max-width: 200px;
        margin: 0 auto;
        a {
          width: 100%;
          height: 50px;
          font-size: 18px;
          background-color: #3ec562;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          border-radius: 10px;
          transition: 0.3s ease-in;
          &:hover {
            transition: 0.3s ease-in;
            opacity: 0.7;
            text-decoration: none;
          }
        }
      }
    }
    &__info {
      flex-basis: 77%;
      &--title {
        h2 {
          font-size: 32px;
          color: $blue;
          font-family: $f-medium;
        }
      }
      &--desc {
        p {
          font-size: 18px;
          font-family: $f-regular;
          color: $black;
          line-height: 27px;
          span {
            font-family: $f-medium;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .search-result {
    margin-top: 30px;
    margin-bottom: 30px;
    &__container {
      max-width: 1024px;
    }
    &__area {
    }

    &__body {
      .navigation {
        max-width: 500px;
        margin: 0 auto;
      }
    }

    &__cover {
      flex-basis: 40%;
    }
    &__info {
      flex-basis: 60%;
      &--title {
        h2 {
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) and (max-width: 1023px) {
  .search-result {
    &__container {
      max-width: 750px;
      padding-top: 30px;
    }

    &__article {
      border-top: 1px solid #dbdbdb;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
    &__cover {
      flex-basis: 40%;
      &--img {
        img {
          height: 280px;
        }
      }
      &--btn {
        a {
          height: 50px;
          font-size: 14px;
        }
      }
    }
    &__info {
      flex-basis: 60%;
      &--title {
        h2 {
          font-size: 24px;
        }
      }
      &--desc {
        p {
          font-size: 16px;
          line-height: 27px;
        }
      }
    }
  }
}
@media screen and (max-width: 749px) {
  .search-result {
    margin-top: 30px;
    margin-bottom: 30px;
    &__container {
      max-width: 380px;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
    }
    &__header {
      p {
        font-size: 18px;
        font-family: $f-regular;
        span {
          font-family: $f-medium;
        }
      }
    }
    &__body {
      .navigation {
        max-width: 500px;
        margin: 0 auto;

        a {
          color: #878787;
        }
      }
      &--row {
      }
    }
    &__article {
      padding-top: 30px;
      padding-bottom: 30px;
      flex-wrap: wrap;
      gap: 20px;
    }
    &__cover {
      flex-basis: 100%;
      &--img {
        img {
          height: 260px;
        }
      }
      &--btn {
        padding-top: 20px;
        max-width: 200px;
        margin: 0 auto;
        a {
          height: 42px;
          font-size: 13px;
        }
      }
    }
    &__info {
      flex-basis: 100%;
      &--title {
        h2 {
          font-size: 18px;
        }
      }
      &--desc {
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}
