
    .page-header {
        background: #704b10!important;
    }
    .page-header-title h1 {
        color: #fff!important;
        font-weight: 500;
    }
    .pagination {
        gap: 4px;
    }

    .page-numbers {
        padding: 6px 12px;
        border: 1px solid #ddd;
        text-decoration: none;
        color: #333;
        display: inline-block;
    }

    .page-numbers:hover {
        background-color: #f5f5f5;
    }

    .page-numbers.current {
        background: #6b4a1f;
        color: white;
        border-color: #6b4a1f;
    }

    .form-check-label {
        font-size: 0.95rem;
        cursor: pointer;
        margin-bottom: 0;
    }

    .input-group .btn {
        border-color: #dee2e6;
    }
    .size_title {
        font-size: 21px;
        margin: 0;
    }
    .date-article, .article-excerpt {
        font-style: italic;
        font-weight: 300;
    }
    /* sidebar */
    /* Sidebar container */
.nm-sidebar {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
}

/* Card look */
.nm-sidebar-card {
    border: 1px solid #d9d9d9;
    background: #ffffff;
    padding: 22px 20px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 1.6;
    color: #222;
    margin: 8px;
    border-radius: 5px;
    margin-bottom: 20px;

}

/* Title styling */
.nm-sidebar-title {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 18px;
    line-height: 1.4;
}

/* Body text */
.nm-sidebar-content p {
    margin-bottom: 14px;
    text-align: center;
    padding: 0px 30px;
    font-size: 14px;
    line-height: 1.5;
    line-break: auto;
    font-weight: 500;
}

/* Optional: make it feel more “document-like” */
.nm-sidebar-content p:last-child {
    margin-bottom: 0;
}
.button {
    background: none!important;
    color: #704b10!important;
    border: none!important;
}
.nm-sidebar-icon {
    background: black;
    padding: 10px;
    border-radius: 50%;
}
.nm-sidebar-icon i {
    color: #fff;
}
.nm-sidebar-card.nm-nhcp-visit {
    padding: 22px 26px;
}
/* books */
.access-badge,
.availability-badge {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
}

.badge-viewing { background:#f6d365; color:#6b4a1f; }
.badge-open { background:#c8e6c9; color:#1b5e20; }
.badge-limited { background:#ffe0b2; color:#e65100; }
.badge-exclusive { background:#ffcdd2; color:#b71c1c; }

.badge-digital { background:#e3f2fd; color:#1565c0; }
.badge-library { background:#e0f2f1; color:#00695c; }

/* custom checkbox */
.section-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.circle-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #c2ad7a;
    cursor: pointer;
}

.circle-option input {
    display: none;
}

.circle-option span {
    width: 14px;
    height: 14px;
    border: 2px solid #c2ad7a;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.circle-option input:checked + span::after {
    content: "";
    width: 6px;
    height: 6px;
    background: #c2ad7a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-group {
    margin-top: 0!important;
}
input.form-control.border-0 {
    background: none!important;
}
.form-control:focus{
    box-shadow: none!important;
}
button.box {
    background: none;
    border: none;
}
button.box a {
    color: #fff;
    background: #c2ad7a;
    border: none;
}
