/* hero banner */
.hero-banner {
    padding: 7rem 2rem 13rem;
}
section.hero-banner h1 {
    color: #6b4a1e;
    font-weight: 400 !important;
    font-size: 48px;
}
.hero-search {
  max-width: 900px;
  border: 1px solid #c9b9a6;
  border-radius: 6px;
  overflow: hidden;
}
section.hero-banner img {
    width: 100%;
    height: auto;
    max-width: 159px;
     filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(-15deg);
}
.hero-search .hero-input {
  flex: 1;
  border: none;
  padding: 18px 24px;
  font-size: 18px;
  outline: none;
  color: #555;
  padding: 16px 10px 14px;
}

.hero-input::placeholder {
  color: #bfbfbf;
  font-style: italic;
}

form.hero-search .hero-btn {
  background-color: #6b4a1e; /* brown */
  color: #fff;
  border: none;
  padding: 0 32px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #5a3e18;
}


.scroll-wrapper {
    background: #f8f9fa;
    position: absolute;
       bottom: -108px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-hover {
  position: relative;
  cursor: pointer;
  color: #dc3545;
}

.scroll-text {
  position: absolute;
  bottom: 75%;          /* nasa taas ng arrow */
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  opacity: 0;
  font-size: 14px;
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 18px;
    font-weight: 400;
}

/* hover sa arrow */
.arrow-hover:hover .scroll-text {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}

.scroll-wrapper i.fa-solid {
    font-size: 60px;
    color: #6b4a1e;
}


/* collection */
/* GRID */
.collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* CARD */
.collection-card {
  position: relative;
  min-height: 300px;
  padding: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-size 0.8s ease;
  overflow: hidden;
}
.collection-card div {
    width: 63%;
    margin: auto;
}

/* DARK OVERLAY */
.collection-card::before {
  content: "";
  position: absolute;
  inset: 0;
background: linear-gradient(to bottom, rgba(50, 30, 10, 0.8), rgba(50, 30, 10, 0.3));
  transition: opacity 0.4s ease;
}
.collection-card:hover::after {
    content: '';
    background: linear-gradient(to bottom, rgb(8 8 8), rgb(50 30 10 / 14%));
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
}

/* CONTENT ABOVE OVERLAY */
.collection-card * {
  position: relative;
  z-index: 1;
}

/* HOVER EFFECTS */
.collection-card:hover {
  background-size: 115%;
}

.collection-card:hover::before {
  opacity: 0;
}
.collection-card:hover h2{
  font-weight:700;
}
/* TEXT */
.collection-card h2 {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 44px;
}

.collection-card p {
      line-height: 1.6;
    margin: 0 0 20px;
}

/* BUTTON */
.collection-card .btn {
  margin-top: 15px;
    padding: 0 40px 10px;
    color: #fff;
    text-decoration: none;
    background: #ffffff33;
    width: fit-content;
    font-size: 32px;
    border-radius: 0;
    font-weight: 400;
    text-transform: none;
     /* NEW */
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.collection-card:hover .btn {
  opacity: 1;
  transform: translateY(0);
}

.collection-card .btn:hover {
    background: #ffffff33;
}
/* BACKGROUND IMAGES */


/* RESPONSIVE */

/* 🌐 Tablet & up */
@media (min-width: 768px) {
.artifacts { text-align: right;}
.sites {text-align: right; }
.av {text-align: right;}

}

@media (max-width: 768px) {
  .collections {
    grid-template-columns: 1fr;
  }
}




/* feartured collection */
.featured-collections {
  padding: 1.5rem 1rem;
}

.featured-collections h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.collections-grid {
  display: grid;
  grid-template-columns: 1fr; /* mobile default */
  gap: 1rem;
}

.featured-collections  .card {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 7rem 3rem 2rem;
    position: relative;
    overflow: hidden;
}

.featured-collections  .card::before {
    content: "";
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.collections-grid img {
    width: 100%;
    margin: auto;
    max-width: 62px;
    position: absolute;
    top: -10px;
    filter: brightness(0) invert(1);
}

.featured-collections {
    /* padding: 1.5rem 1rem; */
    padding: 10rem 2rem;
}
section.featured-collections h2 {
    margin-bottom: 50px;
}
/* Card colors */
.navy::before { background: #2c2f6c; }
.red::before { background: #c7373f; }
.purple::before { background: #8e2f8f; }
.green::before { background: #4f7f3f; }
.teal::before { background: #1fa3a3; }
.orange::before { background: #d87434; }
.darkgreen::before { background: #0f5c2e; }
.gold::before { background: #c7ad2a; }

.navy h3 { color: #2c2f6c; margin-bottom:15px;}
.red h3 { color: #c7373f; margin-bottom:15px;}
.purple h3 { color: #8e2f8f; margin-bottom:15px;}
.green h3 { color: #4f7f3f; margin-bottom:15px;}
.teal h3 { color: #1fa3a3; margin-bottom:15px;}
.orange h3{ color: #d87434; margin-bottom:15px;}
.darkgreen h3 { color: #0f5c2e; margin-bottom:15px;}
.gold h3 { color: #c7ad2a; margin-bottom:15px;}

.featured-collections  .card h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.featured-collections  .card p {
  line-height: 1.4;
}

/* 📱 Tablet */
@media (min-width: 640px) {
  .collections-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 💻 Desktop */
@media (min-width: 1024px) {
  .collections-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* bootstrap overide */
@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
    padding: 0 20px;
  }
}
