body {
	background: $color__background;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: var(--text-main);
	font-family: $font__secondary;
	@include font-size(1.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__main;
	word-wrap: break-word;
	margin: 1.2em 0 .5em;
	color: var(--heading-color);
	font-weight: 600;
}

h1 {
	@include font-size(3.6);
}

h2 {
	@include font-size(3);
}

h3 {
	@include font-size(2.4);
}

h5 {
	@include font-size(1.4);
}

h6 {
	@include font-size(1.2);
}

a {
	color: $color__black;

	&:hover {
		color: var(--main-color);
	}
}

.entry-content a {
	color: var(--main-color);

	&:hover {
		text-decoration: underline;
	}
}

body {
	&.bg_pattern_1.bg_pattern_1 {
		background-image: url('./images/bg_pattern/style1.png');
	}

	&.bg_pattern_2.bg_pattern_2 {
		background-image: url('./images/bg_pattern/style2.png');
	}

	&.bg_pattern_3.bg_pattern_3 {
		background-image: url('./images/bg_pattern/style3.png');
	}

	&.bg_pattern_4.bg_pattern_4 {
		background-image: url('./images/bg_pattern/style4.png');
	}

	&.bg_pattern_5.bg_pattern_5 {
		background-image: url('./images/bg_pattern/style5.png');
	}
}

.wp-block-gallery {

	li:before {
		display: none;
	}
}

.btn {
	display: inline-block;
	font-weight: 700;
	border-radius: 99px;
	white-space: nowrap;
	text-align: center;
	padding: 13px 40px;
	transition: all .3s ease 0s;
	text-transform: uppercase;
}

.btn-primary {
	color: $color__white;
	background-color: var(--main-color);
	display: inline-block;
	letter-spacing: 0.04em;

	&:hover,
	&:active,
	&:focus {
		color: var(--main-color);
		background: $color__white;
		border-color: var(--main-color);
	}
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	@include font-size(1.4);
	border-collapse: collapse;
	border-spacing: 0;
}

thead tr {
	background: #f3f5f8;
}

th {
	font-weight: 400;
	color: $color__black;
}

td {
	color: #777780;
}

th,
td {
	text-align: center;
	padding: 5px;
	border: 1px solid $color__border;
}

ol {
	list-style: decimal;
	padding: 0;
}

ul {
	list-style: disc;
	padding: 0;
}

li>ul,
li>ol {
	margin-bottom: 0;
	padding-left: 1.4em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

hr {
	background-color: $color__border;
	height: 1px;
}

blockquote {
	margin: 0;
	padding: 15px 68px 20px 60px;
	font-weight: 600;
	font-style: italic;
	@include font-size(3.2);
	color: $color__black;
	position: relative;
	font-family: $font__main;
	z-index: 9;

	&:before {
		content: '';
		background-image: url(images/quote.png);
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		top: 20px;
		width: 85px;
		height: 65px;
		z-index: -1;
	}

	&:after {
		position: absolute;
		width: 50px;
		height: 50px;
		z-index: -2;
		background-color: var(--main-color);
		border-radius: 50%;
	}

	span {
		font-family: $font__main;
		color: $color__meta;
		@include font-size(1.6);
		font-style: normal;
		font-weight: 400;
	}

	cite {
		font-weight: 600;
		font-style: normal;
		color: $color__black;
		@include font-size(1.6);
		margin-top: 7px;
		display: block;
		font-family: $font__main;

		&:before {
			content: '\2013';
			margin-right: 3px;
		}
	}

	strong {
		font-weight: 600;
	}
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

.dropcap {
	font-weight: 700;
	color: $color__white;
	@include font-size(4.8);
	background: var(--main-color);
	float: left;
	padding: 6px 9px;
	text-transform: uppercase;
	line-height: 1;
	margin: 10px 12px 0 0;
}

figure {
	figcaption {
		line-height: 1.4;
		margin-top: 15px;
	}
}

.gallery .gallery-item {
	margin: 0;
	padding: 20px 0 0 10px;

	@media (max-width: 767px) {
		max-width: 50%;
	}

	@media (max-width: 574px) {
		max-width: 100%;
	}
}

input[type='password'] {
	width: 50%;
	padding: 12px 15px;
}

input[type='submit'],
button[type='submit'] {
	color: $color__white;
	background: var(--main-color);
	letter-spacing: 0.16em;
	border: 1px solid var(--main-color);

	&:hover {
		background: $color__white;
		color: var(--main-color);
	}
}

iframe {
	vertical-align: bottom;
}

.is-hidden {
	display: none;
}