/* Individual icons */

.sd-content.sd-content ul li a.sd-button:before {
	font-family: 'IcoFont';
	font-size: 16px;
	padding: 5px;
}

.sd-social-icon.sd-social-icon .sd-content ul li.share-print a:before,
.sd-social-text .sd-content ul li.share-print a:before,
.sd-content ul li.share-print div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-print a:before,
.sd-social-official .sd-content li.share-print a:before {
	content: '\eebf';
}

.sd-social-icon.sd-social-icon .sd-content ul li.share-email a:before,
.sd-social-text .sd-content ul li.share-email a:before,
.sd-content ul li.share-email div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-email a:before,
.sd-social-official .sd-content li.share-email a:before {
	content: '\efe4';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-linkedin a:before,
.sd-social-text .sd-content ul li.share-linkedin a:before,
.sd-content ul li.share-linkedin div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-linkedin a:before {
	content: '\ed4d';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-twitter a:before,
.sd-social-text .sd-content ul li.share-twitter a:before,
.sd-content ul li.share-twitter div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-twitter a:before {
	content: '\ed7a';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-reddit a:before,
.sd-social-text .sd-content ul li.share-reddit a:before,
.sd-content ul li.share-reddit div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-reddit a:before {
	content: '\ee27';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-tumblr a:before,
.sd-social-text .sd-content ul li.share-tumblr a:before,
.sd-content ul li.share-tumblr div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-tumblr a:before {
	content: '\ee33';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-pinterest a:before,
.sd-social-text .sd-content ul li.share-pinterest a:before,
.sd-content ul li.share-pinterest div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-pinterest a:before {
	content: '\ed5d';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-google-plus-1 a:before,
.sd-social-text .sd-content ul li.share-google-plus-1 a:before,
.sd-content ul li.share-google-plus-1 div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-google-plus-1 a:before {
	content: '\ed43';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-facebook a:before,
.sd-social-text .sd-content ul li.share-facebook a:before,
.sd-content.sd-content ul li.share-facebook div.option.option-smart-off a:before,
.sd-social-icon-text.sd-social-icon-text .sd-content li.share-facebook a:before {
	content: '\ed37';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-telegram a:before,
.sd-social-text .sd-content ul li.share-telegram a:before,
.sd-content ul li.share-telegram div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-telegram a:before,
.sd-social-official .sd-content li.share-telegram a:before {
	content: '\ee31';
}
.sd-social-icon.sd-social-icon .sd-content ul li.share-skype a:before,
.sd-social-text .sd-content ul li.share-skype a:before,
.sd-content ul li.share-skype div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-skype a:before {
	content: '\ee2b';
}

.sd-social-icon.sd-social-icon .sd-content ul li.share-jetpack-whatsapp a:before,
.sd-social-text .sd-content ul li.share-jetpack-whatsapp a:before,
.sd-content ul li.share-jetpack-whatsapp div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-jetpack-whatsapp a:before,
.sd-social-official .sd-content li.share-jetpack-whatsapp a:before {
	content: '\f135';
}

.sd-social-icon.sd-social-icon .sd-content ul li a.share-more:before,
.sd-social-text .sd-content ul li a.share-more:before,
.sd-content ul li.share-more div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li a.share-more:before,
.sd-social-official .sd-content li a.share-more:before {
	content: '\f0ca';
}

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
.jetpack-social-navigation {
	text-align: center;
	position: relative;
	z-index: 0;
	ul li {
		margin-right: 13px;
		a {
			@include font-size(1.6);
			&:visited {
				color: $color__black;
			}
			&:hover {
				color: var(--main-color);
			}
		}
	}
}

.jetpack-social-navigation ul {
	display: block;
	padding: 0;
}

.jetpack-social-navigation li {
	display: inline-block;
	margin: 0;
	line-height: 1;
}

.jetpack-social-navigation a {
	border: 0;
	height: 1em;
	text-decoration: none;
	width: 1em;
}

/*--------------------------------------------------------------
Genericons
--------------------------------------------------------------*/
.jetpack-social-navigation-genericons a:before {
	font-family: 'IcoFont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.jetpack_widget_social_icons .jetpack-social-widget-item a:before {
	@include ico-font();
	padding: 13px;
	border: 1px solid $color__border;
	@include font-size(1.4);
	color: $color__black;
}

.jetpack-social-navigation-genericons ul li a[href*="amazon"]:before,
.jetpack_widget_social_icons a[href*="amazon"]:before {
	content: '\e8a1';
}
.jetpack-social-navigation-genericons ul li a[href*="apple"]:before,
.jetpack_widget_social_icons a[href*="apple"]:before {
	content: '\e8a7';
}
.jetpack-social-navigation-genericons ul li a[href*="behance"]:before,
.jetpack_widget_social_icons a[href*="behance"]:before {
	content: "\ed22";
}
.jetpack-social-navigation-genericons ul li a[href*="deviantart"]:before,
.jetpack_widget_social_icons a[href*="deviantart"]:before {
	content: "\ed2b";
}
.jetpack-social-navigation-genericons ul li a[href*="digg"]:before,
.jetpack_widget_social_icons a[href*="digg"]:before {
	content: "\ed2c";
}
.jetpack-social-navigation-genericons ul li a[href*="dribble"]:before,
.jetpack_widget_social_icons a[href*="dribble"]:before {
	content: "\ed2f";
}
.jetpack-social-navigation-genericons ul li a[href*="dribbble"]:before,
.jetpack_widget_social_icons a[href*="dribbble"]:before {
	content: "\ed2e";
}
.jetpack-social-navigation-genericons ul li a[href*="dropbox"]:before,
.jetpack_widget_social_icons a[href*="dropbox"]:before {
	content: "\ed30";
}
.jetpack-social-navigation-genericons ul li a[href*="etsy"]:before,
.jetpack_widget_social_icons a[href*="etsy"]:before {
	content: "\e8d1";
}
.jetpack-social-navigation-genericons ul li a[href*="facebook"]:before,
.jetpack_widget_social_icons a[href*="facebook"]:before {
	content: "\ed37";
}
.jetpack-social-navigation-genericons ul li a[href*="github"]:before,
.jetpack_widget_social_icons a[href*="github"]:before {
	content: "\ed3e";
}
nav.jetpack-social-navigation-genericons ul li a[href*="plus.google.com"]:before,
.jetpack_widget_social_icons li a[href*="plus.google.com"]:before {
	content: "\ed43";
}
.jetpack-social-navigation-genericons ul li a[href*="instagram"]:before,
.jetpack_widget_social_icons a[href*="instagram"]:before {
	content: "\ed46";
}
.jetpack-social-navigation-genericons ul li a[href*="mailto"]:before,
.jetpack_widget_social_icons a[href*="mailto"]:before {
	content: "\ec84";
}
.jetpack-social-navigation-genericons ul li a[href*="pinterest"]:before,
.jetpack_widget_social_icons a[href*="pinterest"]:before {
	content: "\ed5d";
}
.jetpack-social-navigation-genericons ul li a[href*="reddit"]:before,
.jetpack_widget_social_icons a[href*="reddit"]:before {
	content: "\ed62";
}
.jetpack-social-navigation-genericons ul li a[href*="/feed/"]:before,
.jetpack_widget_social_icons a[href*="/feed/"]:before {
	content: "\efdb";
}
.jetpack-social-navigation-genericons ul li a[href*="skype"]:before,
.jetpack_widget_social_icons a[href*="skype"]:before {
	content: "\ed67";
}
.jetpack-social-navigation-genericons ul li a[href*="codepen"]:before,
.jetpack_widget_social_icons a[href*="codepen"]:before {
	content: "\ec84";
}
.jetpack-social-navigation-genericons ul li a[href*="bandcamp"]:before,
.jetpack_widget_social_icons a[href*="bandcamp"]:before {
	content: "\e934";
}
.jetpack-social-navigation-genericons ul li a[href*="slideshare"]:before,
.jetpack_widget_social_icons a[href*="slideshare"]:before {
	content: "\ec84";
}
.jetpack-social-navigation-genericons ul li a[href*="medium"]:before,
.jetpack_widget_social_icons a[href*="medium"]:before {
	content: "\ec84";
}
.jetpack-social-navigation-genericons ul li a[href*="rss"]:before,
.jetpack_widget_social_icons a[href*="rss"]:before {
	content: "\ec84";
}
.jetpack-social-navigation-genericons ul li a[href*="goodreads"]:before,
.jetpack_widget_social_icons a[href*="goodreads"]:before {
	content: "\ec84";
}
.jetpack-social-navigation-genericons ul li a[href*="google"]:before,
.jetpack_widget_social_icons a[href*="google"]:before {
	content: "\e8df";
}
.jetpack-social-navigation-genericons ul li a[href*="stumbleupon"]:before,
.jetpack_widget_social_icons a[href*="stumbleupon"]:before {
	content: "\ed72";
}
.jetpack-social-navigation-genericons ul li a[href*="tumblr"]:before,
.jetpack_widget_social_icons a[href*="tumblr"]:before {
	content: "\ed78";
}
.jetpack-social-navigation-genericons ul li a[href*="twitter"]:before,
.jetpack_widget_social_icons a[href*="twitter"]:before {
	content: "\ed7a";
}
.jetpack-social-navigation-genericons ul li a[href*="vimeo"]:before,
.jetpack_widget_social_icons a[href*="vimeo"]:before {
	content: "\ed7f";
}
.jetpack-social-navigation-genericons ul li a[href*="yelp"]:before,
.jetpack_widget_social_icons a[href*="yelp"]:before {
	content: "\ed89";
}
.jetpack-social-navigation-genericons ul li a[href*="500px"]:before,
.jetpack_widget_social_icons a[href*="500px"]:before {
	content: "\ed1c";
}
.jetpack-social-navigation-genericons ul li a[href*="flickr"]:before,
.jetpack_widget_social_icons a[href*="flickr"]:before {
	content: "\ed39";
}
.jetpack-social-navigation-genericons ul li a[href*="foursquare"]:before,
.jetpack_widget_social_icons a[href*="foursquare"]:before {
	content: "\e8d8";
}
.jetpack-social-navigation-genericons ul li a[href*="linkedin"]:before,
.jetpack_widget_social_icons a[href*="linkedin"]:before {
	content: "\ed4d";
}
.jetpack-social-navigation-genericons ul li a[href*="meetup"]:before,
.jetpack_widget_social_icons a[href*="meetup"]:before {
	content: "\ed53";
}
.jetpack-social-navigation-genericons ul li a[href*="slidshare"]:before,
.jetpack_widget_social_icons a[href*="slidshare"]:before {
	content: "\ed6a";
}
.jetpack-social-navigation-genericons ul li a[href*="snapchat"]:before,
.jetpack_widget_social_icons a[href*="snapchat"]:before {
	content: "\ed6c";
}
.jetpack-social-navigation-genericons ul li a[href*="soundcloud"]:before,
.jetpack_widget_social_icons a[href*="soundcloud"]:before {
	content: "\ed6d";
}
.jetpack-social-navigation-genericons ul li a[href*="spotify"]:before,
.jetpack_widget_social_icons a[href*="spotify"]:before {
	content: "\ed6e";
}
.jetpack-social-navigation-genericons ul li a[href*="twitch"]:before,
.jetpack_widget_social_icons a[href*="twitch"]:before {
	content: "\ed79";
}
.jetpack-social-navigation-genericons ul li a[href*="vk"]:before,
.jetpack_widget_social_icons a[href*="vk"]:before {
	content: "\ed83";
}
.jetpack-social-navigation-genericons ul li a[href*="WordPress"]:before,
.jetpack_widget_social_icons a[href*="WordPress"]:before {
	content: "\e95b";
}
.jetpack-social-navigation-genericons ul li a[href*="youtube"]:before,
.jetpack_widget_social_icons a[href*="youtube"]:before {
	content: "\ed8b";
}