.page-template-contact {
	.content-area {
		margin: 40px auto 0;
	}
	iframe {
		width: 100%;
		margin: 70px 0 0;
		padding: 10px;
		border: 1px solid $color__border;
		background: $color__background;
	}
	.site-main {
		.entry-info {
			padding: 25px 60px 30px;
		}
		.page-title {
			margin: -10px 0 13px;
			@include font-size(2.6);
		}
		form {
			display: flex;
			flex-flow: row wrap;
			margin-top: 40px;
			div {
				width: calc(100%/3);
			}
			div:nth-child(4) {
				width: 100%;
			}
			label {
				display: none;
			}
			input[type="text"],
			input[type="email"],
			input[type="url"],
			textarea {
				width: 100%;
				max-width: 100%;
				margin: 0;
				color: $color__meta;
				padding: 12px 18px;
				&:focus {
					background: $color__background-comment;
					@include placeholder() {
						color: $color__black;
					}
				}
			}
			input[type="text"],
			input[type="email"] {
				border-right: 0;
			}
			textarea {
				border-top: 0;
				height: 240px;
				resize: none;
			}
			.pushbutton-wide {
				@include font-size(1.3);
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 0.16em;
				background: var(--main-color);
				border: 1px solid var(--main-color);
				border-radius: 50px;
				padding: 14px 50px;
				&:hover {
					background: $color__white;
					color: var(--main-color);
				}
			}
		}
		iframe {
			display: none;
		}
		.banner-post,
		.entry-footer {
			display: none;
		}
		.about-widget {
			margin-left: 0;
		}
		.about-widget li {
			&:before {
				display: none;
			}
			a {
				color: var(--text-main);
			}
			a:hover {
				text-decoration: none;
				color: var(--main-color);
			}
		}
	}
}
@media (max-width: 991px) {
	.page-template-contact {
		.content-area,
		.widget-area {
			width: 100%;
		}
	}
}
@media (max-width: 767px) {
	.page-template-contact .site-main {
		padding: 25px 30px;
		form {
			div {
				width: 100%;
			}
			input[type="text"],
			input[type="email"] {
				border-right: 1px solid $color__border;
				border-bottom: 0;
			}
		}
	}
}

