.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	padding: 15px 1em 20px;
	&:after {
		left: 88px;
	}
	cite {
		text-align: left;
	}
	p {
		@media (max-width: 767px) {
			font-size: 21px;
		}
	}
}
.wp-block-pullquote blockquote {
	&:after {
		left: 51%;
	}
	&:before {
		left: 50%;
		margin-left: -42px;
	}
	p {
		@media (max-width: 767px) {
			font-size: 21px;
		}
	}
}
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	padding: 0;
	blockquote {
		padding: 15px 0px 20px 0px;
		&:before {
			margin-left: 0;
		}
	}
}
.wp-block-pullquote.alignleft {
	text-align: left;
	margin-right: 30px;
	blockquote {
		&:after {
			left: 18%;
		}
		&:before {
			left: 0;
		}
	}
}
.wp-block-pullquote.alignright {
	text-align: right;
	blockquote {
		&:after {
			right: 0;
			left: unset;
		}
		&:before {
			right: 6%;
			left: unset;
		}
	}
}
.wp-block-cover.alignleft {
	margin-right: 1.5em;
}
.wp-block-cover.alignright {
	margin-left: 1em;
}
// Separator
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}
.wp-block-button__link {
	background: $color__white;
	border: 1px solid var(--main-color);
	border-radius: 99px;
	padding: 8px 40px;
	transition: all .3s ease 0s;
	font-weight: 600;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	@include font-size(1.3);
	&:hover,
	&:active,
	&:focus {
		background: var(--main-color);
	}
}
.entry-content .wp-block-button__link:hover {
	text-decoration: none;
}

.wp-block-categories.aligncenter {
	text-align: center;
}

// Video
.wp-block-embed-vimeo.alignwide iframe,
.wp-block-embed-vimeo.alignfull iframe {
	width: 100% !important;
	height: 100% !important;
}

// Align wide
.entry-info .wp-block-pullquote.alignwide {
	margin: 0 -30px;
}
// Align full
.entry-info .wp-block-pullquote.alignfull {
	margin: 0 -60px;
	@media (max-width: 767px) {
		margin: 0 -30px;
	}
}
.wp-block-pullquote.alignfull {
	blockquote {
		padding: 15px 0 20px;
	}
}
.entry-info .alignwide:not(.wp-block-pullquote) {
	margin-left: -30px;
	width: calc(100% + 60px);
	max-width: calc(100% + 60px);
	@media (max-width: 767px) {
		margin-left: -30px;
		width: calc(100% + 60px);
		max-width: calc(100% + 60px);
	}
}

.entry-info .alignfull:not(.wp-block-pullquote) {
	margin-left: -60px;
	width: calc(100% + 120px);
	max-width: calc(100% + 120px);
	@media (max-width: 767px) {
		margin-left: -30px;
		width: calc(100% + 60px);
		max-width: calc(100% + 60px);
	}
}

.page-template-page-no-sidebar .entry-info .alignfull:not(.wp-block-pullquote) {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
	width: auto;
}

//Column
@media (max-width: 780px) {
	.wp-block-columns .wp-block-column {
		margin: 0 0 1em;
		flex-basis: 100%;
	}
}

//Page template full width

.page-template-full-width {
	.wp-block-pullquote.alignfull blockquote {
		padding: 15px 0 20px;
	}
	.entry-info .alignwide:not(.wp-block-pullquote) {
		margin-left: -30px;
		width: calc(100% + 60px);
		max-width: calc(100% + 60px);
	}
}

// Color palette
.entry-info .has-strong-cyan-background-color {
	background-color: #00a6b6;
	border: 1px solid #00a6b6;
}
.entry-info .has-strong-cyan-background-color:hover {
	background: $color__white;
	color: #00a6b6 !important;
}
.entry-info .has-strong-cyan-color {
	color: #00a6b6;
}

.entry-info .has-vivid-red-background-color {
	background-color: #e11e2f;
	border: 1px solid #e11e2f;
}
.entry-info .has-vivid-red-background-color:hover {
	background: $color__white;
	color: #e11e2f !important;
}
.entry-info .has-vivid-red-color {
	color: #e11e2f;
}

.entry-info .has-slightly-desaturated-pink-background-color {
	background-color: #cc95b5;
	border: 1px solid #cc95b5;
}
.entry-info .has-slightly-desaturated-pink-color {
	color: #cc95b5;
}
.entry-info .has-slightly-desaturated-pink-background-color:hover {
	background: $color__white;
	color: #cc95b5 !important;
}

.entry-info .has-vivid-blue-background-color {
	background-color: #1991f0;
	border: 1px solid #1991f0;
}
.entry-info .has-vivid-blue-background-color:hover {
	background: $color__white;
	color: #1991f0 !important;
}
.entry-info .has-vivid-blue-color {
	color: #1991f0;
}

.entry-info .has-strong-chartreuse-green-background-color {
	background-color: #6ca53a;
	border: 1px solid #6ca53a;
}
.entry-info .has-strong-chartreuse-green-background-color:hover {
	background: $color__white;
	color: #6ca53a !important;
}
.entry-info .has-strong-chartreuse-green-color {
	color: #6ca53a;
}

.entry-info .has-slightly-desaturated-orange-background-color {
	background-color: #c9a978;
	border: 1px solid #c9a978;
}
.entry-info .has-slightly-desaturated-orange-background-color:hover {
	background: $color__white;
	color: #c9a978 !important;
}
.entry-info .has-slightly-desaturated-orange-color {
	color: #c9a978;
}

.entry-info .has-very-light-blue-background-color {
	background-color: #7076fe;
	border: 1px solid #7076fe;
}
.entry-info .has-very-light-blue-background-color:hover {
	background: $color__white;
	color: #7076fe !important;
}
.entry-info .has-very-light-blue-color {
	color: #7076fe;
}

// Dropcap
p.has-drop-cap:not(:focus):first-letter {
	font-weight: 700;
	color: $color__white;
	@include font-size(4.8);
	background: var(--main-color);
	float: left;
	padding: 6px 9px;
	text-transform: uppercase;
	line-height: 1;
	margin: 10px 12px 0 0;
}