.breadcrumbs {
	margin: 0;
	padding: 0;
	@include font-size(1.3);
	text-transform: uppercase;
	border: 1px solid $color__border;
	border-radius: 50px;
	padding: 9px 28px;
	font-weight: 500;
	i {
		margin: 0 8px;
		color: $color__black;
	}
	.breadcrumbs-item {
		list-style: none;
		display: inline-block;
	}
	span {
		color: $color__black;
	}
	.last-item {
		span {
			color: var(--main-color);
		}
	}
}
@media (max-width: 991px) {
	.breadcrumbs {
		border: 0;
		padding: 0;
	}
}