.site-footer {
	text-align: center;
	background: $color__white;
}
.footer-branding {
	padding-top: 45px;
	padding-bottom: 40px;
}
.footer-title-hidden .footer-branding .site-title {
	display: none;
}
.footer-description-hidden .footer-branding .site-description {
	display: none;
}
.site-footer .jetpack-social-navigation {
	padding-top: 0;
	ul {
		margin: 0 0 43px 0;
	}
	ul li {
		margin-right: 17px;
	}
	a:hover:before {
		background: var(--main-color);
		color: $color__white;
		border-color: var(--main-color);
		transition: all .3s;
	}
	a:before {
		padding: 12px;
		width: auto;
		height: auto;
		border: 1px solid $color__border;
		border-radius: 100%;
		margin-right: 10px;
		@include font-size(1.4);
		display: inline;
	}
	.screen-reader-text {
		position: relative;
		clip-path: none;
		top: 0;
		font-family: $font__main;
		font-weight: 600;
		@include font-size(2);
		letter-spacing: 0.02em;
	}
}
.site-footer .site-info {
	padding: 38px 0 20px;
	border-top: 1px dashed $color__border;
	position: relative;
	@include border-top-double();
	background: $color__background;
	.container {
		position: relative;
		z-index: 1;
	}
	i {
		color: var(--main-color);
	}
	a {
		color: var(--main-color);
		position: relative;
	}
}
.site-footer .scroll-to-top {
	@include font-size(1.3);
	text-transform: uppercase;
	color: $color__white;
	background: var(--main-color);
	padding: 9px 30px;
	position: relative;
	z-index: 2;
	top: 15px;
	border-radius: 50px;
	letter-spacing: 0.16em;
	border: 1px solid var(--main-color);
	font-weight: 500;
	i {
		margin-left: 6px;
	}
	&:hover {
		background: $color__white;
		color: var(--main-color);
	}
}
@media (max-width: 991px) {
	.site-footer .jetpack-social-navigation {
		ul {
			margin: 0;
		}
		ul li {
			width: 32%;
			margin: 0 0 30px 0;
			text-align: left;
		}
	}
}
@media (max-width: 574px) {
	.site-footer .jetpack-social-navigation {
		ul {
			display: flex;
			flex-flow: wrap;
			li {
				width: 50%;
			}
			.screen-reader-text {
				@include font-size(1.6);
			}
		}
	}
}

.subscriptions-enable .social-media {
	bottom: -60px;
}
.social-media {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	margin-top: -40px;
	z-index: 2;

	i {
		@include font-size(2.6);
	}
	&__brand {
		font-weight: 500;
		@include font-size(1.3);
		letter-spacing: 0.16em;
		text-transform: uppercase;
		margin: 26px 0 0 0;
	}
	&__count {
		font-family: $font__main;
		font-weight: 300;
		@include font-size(4);
		margin: -11px 0 23px;
	}
	&__user {
		color: $color__white;
		&:hover {
			color: var(--main-color);
		}
	}
	&__block {
		width: 23%;
		padding: 40px 0 25px;
		text-align: center;
		background: $color__black;
		color: $color__white;

		&--facebook {
			background: var(--main-color);

			.social-media__user:hover {
				color: $color__black;
			}
		}
	}
	&__title {
		font-weight: 500;
		@include font-size(1.3);
		letter-spacing: 0.16em;
		color: var(--main-color);
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	&__feed {
		width: 54%;
		background: $color__white;
		padding: 30px 50px;
		border: 1px solid $color__border;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
.social-media__user,
.tweet__user {
	font-family: $font__main;
	@include font-size(1.8);
	font-weight: 600;
	letter-spacing: 0.02em;
}
.tweets {
	flex: 1;

	.slick-list,
	.slick-track {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.slick-nav {
		position: absolute;
		top: unset;
		bottom: 0;
		transform: none;
		color: $color__black;
		border: 1px solid $color__border;
		background: $color__white;
		text-align: center;
		width: 59px;
		height: 41px;

		i {
			@include font-size(1.6);
			line-height: 1;
			color: $color__black;
			transition: all .3s;
		}
		&:before {
			display: none;
		}
		&:hover {
			background: var(--main-color);
			border-color: var(--main-color);
			transition: all .3s;
		}
		&:hover i {
			color: $color__white;
		}
	}
	.slick-prev {
		left: unset;
		right: 58px;
		z-index: 1;
		border-radius: 50px 0 0 50px;
	}
	.slick-next {
		right: 0;
		border-radius: 0 50px 50px 0;
	}
}
.tweet {
	&__content a {
		color: var(--main-color);

		&:hover {
			text-decoration: underline;
		}
	}
	&__footer {
		position: absolute;
		bottom: 0;
		display: block;

		&:hover .tweet__user {
			color: var(--main-color);
		}
	}
	&__user {
		color: $color__black;
		transition: all .2s ease;
	}
	&__time {
		display: block;
		text-transform: uppercase;
		@include font-size(1.3);
		color: $color__meta;
		font-weight: 500;
		line-height: 1.2;
	}
}

@media (max-width: 991px) {
	.social-media {
		display: none;
	}
}
.social-enable {
	.footer-subscription .jetpack_subscription_widget {
		margin-top: 110px;
	}
}