.banner-top {
	img {
		width: 100%;
		height: 90px;
		@media (max-width: 991px) {
			height: 60px;
		}
	}
}
.nav-below-logo {
	.site-header .header-top {
		order: 2;
	}
	.header__search,
	.site-search,
	.header-search,
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		flex: unset;
	}
	.header-top .container {
		justify-content: center;
	}
	@media (max-width: 1023px) {
		.menu-toggle {
			display: block;
		}
	}
}
.site-header {
	background: $color__white;
	position: relative;
	z-index: 100;
	display: flex;
	flex-flow: column wrap;
	.jetpack-social-navigation {
		margin: -25px 0 45px 0;
		ul {
			margin: 0;
		}
		ul li {
			margin-right: 9px;
		}
	}
}

.header-top {
	border-bottom: 1px dashed var(--border-header-color);
	position: relative;
	background: var(--bg-header-color);
	@include border-bottom-double();
	.container {
		display: flex;
	}
	&:before {
		border-bottom-color: var(--border-header-color);
	}
	@media (max-width: 1023px) {
		padding: 17px 0;
	}
	.mobile-branding {
		display: none;
		img {
			width: 100px;
		}
		@media (max-width: 574px) {
			display: block;
		}
	}
}
.scrolling.sticky-header .header-top.is-sticky {
	border-bottom: 0;
	&:before {
		display: none;
	}
}

.header__search,
.header-search {
	display: flex;
	align-items: center;
	z-index: 9;
	i:before {
		content: '\ed1b';
		color: var(--icon-header-color);
		@include ico-font();
		font-weight: 700;
		transition: all .3s;
	}
	i:hover:before {
		color: var(--hover-icon-header-color);
		transition: all .3s;
	}
	.search-submit {
		align-items: center;
	}
}
.menu-toggle .menu-text {
	display: none;
}
.nav-below-logo .menu-toggle {
	bottom: 0;
	padding: 7px 20px;
	&:hover .menu-text {
		color: var(--main-color);
		transition: all .3s;
	}
	.menu-text {
		@media (max-width: 1023px) {
			display: block;
			position: relative;
			left: 20px;
			text-transform: uppercase;
			color: $color__black;
			transition: all .3s;
			font-weight: 600;
			@include font-size(1.6);
		}
	}
}
.header-branding {
	border-bottom: 1px dashed var(--border-header-color);
	position: relative;
	@include border-bottom-double();
}
.mobile-logo .header-branding {
	@media (max-width: 574px) {
		display: none;
	}
}

.site-branding,
.footer-branding {
	text-align: center;
	position: relative;
	z-index: 0;

	.jetpack-social-navigation ul {
		margin-bottom: 0;
	}
}

.site-branding {
	padding: 30px 0 40px;
	@media (max-width: 574px) {
		padding: 20px 0 40px;
	}
	.retina-logo {
		img {
			width: 265px;
		}
	}
}
.site-header .custom-logo-link img,
.site-header .retina-logo img {
	margin-top: 20px;
	@media (max-width: 574px) {
		margin-top: 0;
	}
}

.retina-logo + .custom-logo-link {
	display: none;
}

.retina-logo + .site-title {
	display: none;
}

.site-title {
	margin-top: 0;
	margin-bottom: 0;
	@include font-size(3.8);
	line-height: 1.3;
}
.site-title-hidden .header-branding .site-title {
	display: none;
}
.site-description {
	margin-top: 5px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	&:before,
	&:after {
		content: '';
		width: 20px;
		height: 1px;
		background: currentColor;
		position: relative;
		left: -10px;
	}
	&:after {
		left: unset;
		right: -10px;
	}
}
.site-description-hidden .header-branding .site-description {
	display: none;
}
@media (max-width: 574px) {
	.custom-logo-link img {
		margin-top: 25px;
	}
	.site-description {
		&:before,
		&:after {
			display: none;
		}
	}
	.site-header .jetpack-social-navigation {
		margin-bottom: 15px;
	}
}

/* Sticky header */
.sticky-header {
	.header-top.is-sticky {
		position: fixed;
		top: 0;
		width: 100%;
		background: var(--bg-header-color);
		z-index: 100;
		transition: all .3s;
	}
	&.scrolling .header-top.is-sticky {
		box-shadow: 0 4px 5px -3px rgba(0,0,0,.2);
		transition: all .3s;
		border-bottom: none;
		&:before {
			display: none;
		}
	}
	&.admin-bar .header-top.is-sticky {
		top: 32px;
	}
}
@media (max-width: 782px) {
	.sticky-header.admin-bar .header-top.is-sticky {
		top: 45px;
	}
}
@media (max-width: 600px) {
	.sticky-header .header-top.is-sticky {
		top: 0;
	}
	.sticky-header.scrolling .header-top.is-sticky {
		top: 0;
	}
}
.site-boxed.sticky-header {
	.header-top.is-sticky {
		max-width: 1170px;
	}
}
