.main-navigation {
	z-index: 1;
	ul.menu,
	div.menu > ul {
		&>li>a {
			padding: 18px 14px;
			color: var(--text-header-color);
			&:hover {
				color: var(--hover-text-header-color);
			}
		}
	}
	li {
		&.menu-item-has-children > a:after,
		&.page_item_has_children > a:after,
		{
			content: "\ea99";
			@include ico-font();
			@include font-size(1.2);
		}
		li.menu-item-has-children > a:after,
		li.page_item_has_children > a:after {
			content: '\eaa0';
			@include ico-font();
			@include font-size(1.2);
		}
	}
	a {
		@include font-size(1.2);
		font-family: $font__secondary;
		font-weight: 600;
		letter-spacing: 0.16em;
		&:hover {
			color: var(--main-color);
		}
	}
	ul ul {
		left: 0;
		background: var(--bg-submenu-color);
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		li {
			transition: all .3s;
			border-bottom-color: var(--border-submenu-color);
			&:hover {
				background: #fafafa;
				transition: all .3s;
			}
		}
	}
	ul ul a {
		@include font-size(1.2);
		color: var(--text-submenu-color);
		&:hover {
			color: var(--hover-text-submenu-color);
		}
	}
	.current_page_item > a,
	.current-menu-item > a {
		color: var(--main-color);
	}
}

.main-navigation  ul.menu > li:first-child > a {
	padding-left: 0;
}

.menu-toggle {
	display: block;
	bottom: 8px;
	&:hover:before {
		border-color: var(--main-color);
		color: var(--main-color);
		transition: all .3s;
	}
}
.slideout-sidebar-enabel .menu-toggle:hover:before {
	border-color: var(--main-color);
	transition: all .3s;
}

.mobile-menu {
	left: unset;
	right: 0;
}

.mobile-menu-open {
	.main-navigation ul {
		display: block;
	}
	.mobile-navigation > ul {
		display: block;
	}
}