.pagination {
	margin: 40px auto 0;
	width: 100%;
	a,
	span {
		display: inline-block;
		padding: 8px 17px;
		color: $color__black;
		font-weight: bold;
		transition: all .3s;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		border-radius: 50%;
	}
	.current,
	a:hover {
		background: var(--main-color);
		color: $color__white;
		border-radius: 100%;
	}
	.page-numbers {
		margin: 0 3px 3px 0;
	}
	.nav-links {
		justify-content: center;
	}
	.prev,
	.next {
		padding: 8px 14px;
	}
	.nav-links {
		span:first-child,
		a:nth-child(2) {
			width: 43px;
		}
	}
}

.posts-navigation,
.post-navigation {
	padding: 20px 0;
	margin-bottom: 0;
	word-wrap: break-word;
	overflow: hidden;
	.meta-nav {
		color: $color__meta;
		@include font-size(1.4);
		margin: 0;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
	}
	.post-title {
		@include font-size(1.8);
		margin: 0;
		word-wrap: break-word;
		color: $color__black;
		transition: all 0.3s;
		line-height: 1.35;
		&:hover {
			color: var(--main-color);
		}
	}
}
.posts-navigation {
	padding: 0;
	margin-top: 50px;
}

.nav-links {
	width: 100%;
	display: flex;
	position: relative;
	z-index: 1;
}
.nav-previous {
	text-align: left;
	padding-right: 20px;
	flex: 1;
}
.nav-next {
	text-align: right;
	width: 100%;
	margin-left: auto;
}
.nav-previous + .nav-next {
	margin-left: 0;
	padding-left: 20px;
	width: 50%;
	justify-content: flex-end;
}
.posts-navigation {
	.nav-previous,
	.nav-next {
		a {
			text-transform: uppercase;
			font-weight: 500;
			@include font-size(1.3);
			letter-spacing: 0.16em;
			position: relative;
			word-break: break-word;
			color: $color__black;
			&:hover,
			&:hover:before,
			&:hover:after {
				color: var(--main-color);
				transition: all .3s;
			}
		}
	}
	.nav-previous {
		a:before {
			content: '\eab5';
			@include ico-font();
			@include font-size(1.3);
			color: $color__meta;
			margin-right: 6px;
		}
	}
	.nav-next {
		a:after {
			content: '\eab8';
			@include ico-font();
			@include font-size(1.3);
			color: $color__meta;
			position: relative;
			top: 1px;
			right: -5px;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.load-more-post #infinite-handle {
	width: 100%;
	text-align: center;
	margin: 30px 0 0;
	span {
		background: none;
		padding: 0;
		button {
			text-transform: uppercase;
			color: $color__white;
			@include font-size(1.3);
			font-weight: 500;
			background: var(--main-color);
			border: 1px solid var(--main-color);
			border-radius: 50px;
			letter-spacing: 0.16em;
			padding: 11px 37px;
			&:hover {
				color: var(--main-color);
				background: $color__white;
				padding: 11px 37px;
				border: 1px solid var(--main-color);
				font-weight: 500;
			}
			&:before {
				content: '\efd1';
				@include ico-font();
				margin-right: 15px;
				font-size: 13px;
			}
			&.is-disable {
				display: none;
			}
		}
	}
}
.load-more-post .infinite-loader {
	width: 100%;
	display: flex;
	justify-content: center;
}
.infinite-scroll .navigation.pagination{
	display: none;
}
@media(max-width: 1023px) {
	.nav-links {
		display: block;
	}
	.pagination {
		.nav-links {
			text-align: center;
		}
		a,
		span {
			margin: 0 3px 3px 0;
		}
	}
	.nav-previous,
	.nav-next {
		width: 100%;
		padding: 0;
		text-align: center;
		display: block;
	}
	.nav-previous + .nav-next {
		padding-top: 20px;
		margin-top: 20px;
		padding-left: 0;
		width: 100%;
		border-top: 1px dashed $color__border;
	}
}
@media (max-width: 991px) {
	.pagination {
		margin: 30px auto 0;
	}
	.posts-navigation {
		margin: 40px 0;
	}
}
