.entry-content #jp-relatedposts {
	margin: 0 0 15px;
	h3.jp-relatedposts-headline {
		margin-bottom: 20px;
		em {
			@include font-size(1.3);
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: 600;
		}
	}
	.jp-relatedposts-items .jp-relatedposts-post {
		opacity: 1;
	}
	.jp-relatedposts-items .jp-relatedposts-post h4.jp-relatedposts-post-title {
		margin: 13px 0 5px;
	}
	.jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
		text-decoration: none;
	}
	.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a {
		color: $color__black;
		font-weight: 500;
		&:hover {
			color: var(--main-color);
		}
	}
	.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
		opacity: 1;
		color: $color__meta;
	}
}
@media (max-width: 767px) {
	.entry-content #jp-relatedposts {
		.jp-relatedposts-items .jp-relatedposts-post {
			width: 100%;
			a img {
				width: 100%;
				height: 100%;
			}
		}
		.jp-relatedposts-items-visual {
			margin-right: 0;
			.jp-relatedposts-post {
				padding-right: 0;
			}
		}
	}
}